<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a [routerLink]="['home']" class="navbar-brand">
    <img src="../../assets/bus_logo.png" alt="Home">
  </a>

  <ul class="navbar-nav mr-auto">
    <li *ngIf="authService.isAdmin" class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1" role="button" aria-haspopup="true" aria-expanded="false">Manage
        User</a>
      <div class="dropdown-menu" id="dropdownMenu1">
        <a class="dropdown-item" [routerLink]="['admin/listUsers']">List User</a>
        <a class="dropdown-item" [routerLink]="['admin/addUser']" routerLinkActive="router-link-active">Create User</a>
      </div>
    </li>
    <li *ngIf="authService.isTS" class="dropdown nav-item">
      <a class="dropdown-toggle nav-link" role="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Manage
        Ticket and Seat</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <a class="dropdown-item" [routerLink]="['ticket-seller/list-tickets']">List Tickets</a>
      </div>
    </li> 
  </ul>


  <div *ngIf="!authService.isLogin" class="ml-auto">
    <ul class="navbar-nav ">
      <li *ngIf="!authService.isLogin" class="nav-item">
        <a [routerLink]="['signup']" class="nav-link">Sign Up</a>
      </li>
      <li *ngIf="!authService.isLogin" class="nav-item">
        <a [routerLink]="['login']" class="nav-link">Log in</a>
      </li>
    </ul>
  </div>



  <div *ngIf="authService.isLogin" class="ml-auto">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        <i class="material-icons">person</i> Welcome {{authService.user.userName}}</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="authService.signOut();">Sign
          Out
        </a>
      </div>
    </div>
  </div>
</nav>