form{
    width: 90%;
    margin: 5% 5%;;
}

h2{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
label{
    font-weight: bold;

}

.card{
    box-shadow: 3px 4px 5px gray;
    width: 30%;
    margin: auto;
    margin-top:20px;
}

div > button.but{
    margin: 10px 25px;
    width: 40%;
    
}
