<div class="container">
  <search-ticket></search-ticket>
    <table class="table table-hover table-striped"> 
      <thead>
        <tr>
          <th>Id</th>
          <th>UserId</th>
          <th>UserName</th>
          <th>Date</th>
          <th>SeatId</th>
          <th>SeatName</th>
          <th>BusId</th>
          <th>Driver</th>
          <th>Route</th>
          <th>Status</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let t of tickets ; index as i">
          <td>{{t.ticketId}}</td>
          <td>{{t.user.userId}}</td>
          <td>{{t.user.userName}}</td>
          <td>{{t.bookingDate}}</td>
          <td>{{t.seats.seatId}}</td>
          <td>{{t.seats.seatName}}</td>
          <td>{{t.buses.busId}} <a [routerLink]="['/ticket-seller/list-seats']" routerLinkActive="router-link-active">ListSeats</a>
           
          </td>
          <td>{{t.buses.driverName}}</td>
          <td>{{t.routes.route}}</td>
          <td>{{t.bookingStatus}}</td>
          <td>
            <div class="btn-group" role="group">
              <button class="btn btn-info"><i class="material-icons" routerLink="">edit</i></button>
              <button class="btn btn-info"><i class="material-icons" (click)="Cancel(t.ticketId,t)">cancel</i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>