<h2>Form Booking</h2>

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-2">
      <table-total></table-total>
    </div>
    <div class="col-md-3" style="border-right:0.5px solid rgb(223, 217, 217)">
      <h3>Choose Seat</h3>
      <list-seat></list-seat>
    </div>
    <div class=" col-md-3 md-5 form-group">
      <form (ngSubmit)="submit();" [formGroup]="formBook" >
        <h3>Private Information</h3>
        <label>Full Name:</label>
        <input class="form-control" readonly="readonly" type="text"  formControlName="name" >
        <label>User Name:</label>
        <input class="form-control" readonly="readonly" type="text"  formControlName="uname" >
        <label>Email:</label>
        <input class="form-control" readonly="readonly" type="text"  formControlName="email">
        <label>Phone:</label>
        <input class="form-control" readonly="readonly" type="text"  formControlName="phone">
        <input class="form-control" hidden type="text"  formControlName="seatID">
        <input class="form-control" hidden type="text"  formControlName="totalPrice">
        <div class="but">
            <button class="btn btn-primary" type="submit">Continue</button>
            <a class="btn btn-secondary" routerLink="/home">Back</a>
        </div>
      </form>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

